@model Guid

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Order Placed</title>
    </head>
    <body>
        <div>
              Placed Order with Id: @model
        </div>
    </body>
</html>